<?xml version="1.0"?>
<config>
    <modules>
        <Multibyte_VATFix>
            <version>1.0.1</version>
        </Multibyte_VATFix>
    </modules>
    <global>
        <helpers>
            <customer>
                <rewrite>
                    <data>Multibyte_VATFix_Helper_Data</data>
                </rewrite>
            </customer>
            <multibyte_vatfix>
                <class>Multibyte_VATFix_Helper</class>
            </multibyte_vatfix>
        </helpers>
    </global>
</config>
